.account {
    background: $foreground;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "info products";
    margin: 3% 5%;
    padding: 25px;
    .account-info {
        grid-area: info;
        button {
            margin: 25px 0 0;
        }
    }
    .account-products {
        grid-area: products;
        .products-heading {
            font-weight: 400;
        }
    }
    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
        grid-area: products;
    }
}
