.account {
    background: $foreground;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "info products";
    margin: 3% 5%;
    padding: 25px;
    .account-info {
        grid-area: info;
        button {
            margin: 25px 0 0;
        }
    }
    .account-products {
        grid-area: products;
        .products-heading {
            font-weight: 400;
        }
    }
    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
        grid-area: products;
    }
}

.formContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.accountForm {
    background: $foreground;
    box-shadow: 0 0 25px 2px #00000020;
    padding: 3%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .form {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    h2 {
        margin-bottom: 15px;
    }
    label {
        font-size: 1.8rem;
        color: $textColor;
        &.required {
            &::after {
                content: "*";
                color: $primary;
            }
        }
    }
    input {
        border: 1px solid $textColor;
        padding: 2%;
        font-size: 1.8rem;
        color: $textColor;
        margin-bottom: 5px;
        max-width: 250px;
        &:focus {
            outline: 1px solid $secondary;
            border: 1px solid $secondary;
        }
    }
    button {
        margin-top: 15px;
        max-width: 250px;
    }
    button.link {
        font-size: 1.6rem;
        padding: 0 !important;
        text-align: left;
    }
    @media only screen and (max-width: 1200px) {
        padding: 25px;
    }
}
