@mixin navbar($color) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 10%;
    min-height: 60px;
    background-color: $foreground;
    box-shadow: 0 0 2px 2px #00000030;
    ul {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 60px;
        li {
            color: $color;
            list-style: none;
            display: inline-block;
            font-size: 2rem;
            margin-right: 3%;
            a:visited {
                color: $color;
            }
            a:hover {
                color: darken($color, $amount: 10);
                border-bottom: 2px darken($color, $amount: 10) solid;
                border-top: 2px #ffffff00 solid;
            }
            a.visited.active,
            a.active {
                color: $textColor;
                border-bottom: 2px $textColor solid;
            }
        }
    }
}

nav {
    @include navbar($secondary);
}
