.store {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "products";
    padding: 25px;
}

.categories {
    grid-area: category;
}

.productList {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 0.1fr));
    padding: 0 15%;
}

.shopHeader {
    grid-area: header;
    font-size: 5.4rem;
    font-weight: 400;
    text-align: center;
    margin: 5px 0 40px;
}
