$red: #b90d0d;
$blue: #49a2dd;
$green: #68c964;
$black: #000000;
$hover: #3261cf;

$dark: #a12929;
$primary: #d62020;
$secondary: #fd8888;
$default: #ffffff;

$background: #efefef;
$foreground: #ffffff;

$textColor: #181818;
