$red: #b90d0d;
$blue: #49a2dd;
$green: #68c964;
$hover: #5b84e4;

$dark: #a12929;
$primary: #d62020;
$secondary: #fd8888;
$default: #ffffff;
$black: #000000;

$background: #fafafa;
$foreground: #ffffff;

$textColor: #181818;
