@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "_variables";
@import "_fonts";

@import "_buttons";
@import "_navbars";
@import "_stores";
@import "_products";
@import "_accounts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection,
::-moz-selection,
::-webkit-selection {
    background: $secondary;
    color: $textColor;
}

:focus {
    color: $blue;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: $background;
}

.categories {
    padding: 25px;
    background: $foreground;
}

a {
    &.link {
        color: $blue;
        font-weight: 400;
    }
}

input {
    padding: 5px;
    border: #00000030 1px solid;
}

.edit {
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
    label {
        padding-left: 2px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
