@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "_variables";
@import "_fonts";

@import "_buttons";
@import "_navbars";
@import "_stores";
@import "_products";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection,
::-moz-selection,
::-webkit-selection {
    background: $secondary;
    color: $textColor;
}

:focus {
    color: $blue;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: $background;
}

.categories {
    padding: 25px;
    background: $foreground;
}
